.itemsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    /* espaço entre os itens */
    margin-top: 2rem;
}

@media (max-width: 1024px) {
  .itemsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 812px) {
  .itemsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .itemsGrid {
    grid-template-columns: 1fr;
  }
}